body { 
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    color: blue;
    overflow-x: hidden;
}
/* navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: blue;
    padding: 10px 20px;
    z-index: 1000;
}
.logo h1 {
    display: flex;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -1%;
    align-items: center;
    padding: 10px 10px;
    margin-right: 20px;
}
.nav-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
    position: relative;
}
.nav-links ul li {
    display: flex;
    color: skyblue;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
    letter-spacing: -3%;
    line-height: 24px;
    font-weight: bold;
    padding: 10px;
    margin: 0 50px;
    cursor: pointer;
}
.nav-links ul li:hover {
    color: rgb(84, 101, 248);
}
/*hidden on larger screens*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
    position: relative;
}
.hamburger i {
    transition: color 0.3s ease;
    font-size: 24px;
    color: blue;
}
.hamburger:hover i {
    color: blue;
}
/* Responsive Design */
@media (max-width: 768px) {
    .hamburger-container {
        position:relative
    }
    .nav-links {
        display: none;
        position: fixed;
        margin-top: 10px;
        flex-direction: column;
        width: 100%;
        height: auto;
        background: linear-gradient(270deg, transparent, #5081eb);
        z-index: 1100;
        top: 0;
        right: 0;
    }
    .nav-links.show {
        display: flex;
    }
    .overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background: rgba(51, 50, 50, 0.4);
        z-index: 1000;
    }
    .overlay.show {
        display: block;
    }
    .nav-links ul {
        flex-direction: column;
        gap: 5px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .nav-links ul li {
        margin: 0;
        color: white;
    }
    .nav-links.active {
        display: flex;
    }
    .hamburger {
        display: block;
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        position: relative;
        z-index: 1200;
    }
}
/*hero section*/
.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    gap: 5px;
    box-sizing: border-box;
}
.hero-text h2 {
    display: flex;
    font-weight: 400;
    font-style: normal;
    flex-direction: column;
    line-height: none;
    justify-content: space-evenly;
    font-size: 60px;
    color: #5081eb;
}
.hero-text p {
    font-size: 20px;
    margin: 20px 0;
    line-height: 1.6;
    color: #5081eb;
    
}
.btn {
    display: inline-flex;
    font-size: 15px;
    padding: 10px 20px;
    background: linear-gradient(270deg, #ff6ec4, #7873f5, #4ade80, #d49ed9);
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 100px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    animation: gradientmove 3s ease infinite;
    background-size: 600% 600%;
    gap: 15px;
}
@keyframes gradientmove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.bounce-icon {
    animation: bounce 2s infinite;
    color: #5081eb;
}
.hero-image img {
    width: 300px;
    height: 400px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 200px;
    display: flex;

}
.hero-image img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
@media (max-width: 1280px) {
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .hero-image img {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin: auto;
    }
}
@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .hero-image img {
        width: 80%;
        max-width: 60px;
        height: auto;
        margin: auto;
    }
}
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-image img {
        height: auto;
        width: 70%;
        max-width: 70%;
        margin: 20px 0;
    }
    .hero-text h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }
}
    @media (max-width: 600px) {
        .hero-text h2 {
            font-size: 28px;
        }
        .btn {
            padding: 15px 15px;
            font-size: 16px;
        }
        .hero-image img {
            width: 90%;
            height: auto;
            margin: auto;
            display: block;
    }        
}
hr {
    border: 0;
    height: 1px;
    margin: 40px 0;
    margin-top: 150px;
    background: white;
}
/*sections*/
.fade-text {
    font-size: 18px;
    animation: fadeInOut 10s infinite;

}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#about, .skills, #contact {
    padding: 40px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
#sign-up-form #error-page #profile-card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    overflow: scroll;
}
.work-item {
    margin-bottom: 14px;
    color: blue;
    border-radius: 20px;
    font-size: 15px;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}
.underline {
    width: 80px;
    height: 3px;
    background-color: blue;
    margin: 5px 0 10px 0;
}
.project-card {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    background-color: rgba(51, 50, 50, 0.4);
    padding: 60px;
    border-radius: 10px;
    margin: 20px;
}
.project-card.reverse {
    flex-direction: row-reverse;
}
.project-card img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
}

.project-details {
    flex: 1;
}
.project-details h3 {
    font-size: 20px;
    margin-bottom: 12px;
}
.project-details p {
    color: #ccc;
    margin-bottom: 16px;
    line-height: 1.6;
}
.project-details ul {
    list-style: none;
    margin-bottom: 15px;
}
.project-details ul li {
    margin-bottom: 5px;
    color: white;
}
.links {
    margin-top: 7px;
}
    .links a {
    color: skyblue;
    text-decoration: underline;
}
.btn-link {
    text-decoration: none;
    color: blue;
    margin-right: 15px;
    font-weight: 500;
}
.btn-link:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .project-card {
        flex-direction: column;
        text-align: center;
    }
    .project-card.reverse {
        flex-direction: column;
    }
    .project-card img {
        max-width: 100%;
    }
    .underline {
        margin-left: auto;
        margin-right: auto;
    }
}
#work-experience {
    color: blue;
    font-size: 18px;
    padding: 20px;
}
/*contact*/
.contact-section {
    background-color: #0d0d0d;
    color: #ffffff;
    padding: 60px 20px;
    display: flex;
}
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 35px;
}
.contact-info {
    flex: 1;
    min-width: 250px;
}
.contact-info h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #ffffff;
}
.contact-info p{
    color: #ccc;
    margin-top: 10px;
}
.contact-info a {
    color: #5081eb;
    text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    display: inline-block;
    font-size: 22px;
    color: #5081eb;
     margin-right: 15px;
     transition: 0.3s;
}
.social-icons a:hover {
    color: #ffffff;
}
.contact-form {
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-form input,
.contact-form textarea { 
    width: 100%;
    padding: 12px 15px;
    margin: 5px;
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
    outline: none;
    display: flex;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #5081eb;
}
.contact-form button {
    width: 120px;
    padding: 12px;
    background-color: #5081eb;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-form button:hover {
    background-color: #83b6f0;

}
@media (max-width: 900px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
    }
    .contact-info, .contact-form {
        max-width: 100%;
    }
    .social-icons {
        justify-content: center;
    }
    .social-icons a {
        font-size: 20px;
        margin: 0 10px;
    }
}
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
    .contact-container {
        padding: 0 10px;
    }
    .contact-info, .contact-form {
        max-width: 100%;
    }
    .contact-form input, .contact-form textarea {
        font-size: 14px;
        padding: 9px;
    }
    .contact-form button {
        width: 100%;
        padding: 12px;
    }
}
.social-media {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-media i {
    color: #5081eb;
    text-decoration: none;
}
#about p {
    padding: 15px;
    font-size: 17px;
    color: #5081eb;
}
.language-set {
    gap: 20px;
    padding: 20px;
    margin: 20px;
    color: beige;
    font-size: 18px;
    list-style-type: circle;
}
/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #5081eb;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
